html

  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      body { padding-top: 60px; }
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/godist.css")
    block head

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") godist
          ul.nav
            != navigation('Projects', '/projects')
    .container
      block content

    script(type="text/javascript", src="//code.jquery.com/jquery-1.10.1.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    block script
